body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(54, 60, 152);
    color: white;
    text-align: center;
    padding: 2%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.header h1 {
    margin: 0;
    font-size: 300%;
}

.container {
    width: 90%;
    max-width: 70%;
    margin: 5% auto;
    padding: 3%;
    background: white;
}


form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 140%;
    font-weight: bold;
    color: rgb(54, 60, 152);
    margin-bottom: 1%;
}

form input, form textarea {
    padding: 2%;
    border: solid #ddd;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    background-color: #f9f9f9;
}

form input:focus, form textarea:focus {
    border-color: rgb(54, 60, 152);
    outline: none;
    box-shadow: rgba(54, 60, 152, 0.6);
}

form input[type="text"], form input[type="email"], form input[type="tel"] {
    height: 45px;
}

form textarea {
    height: 150px;
    resize: vertical;
}

form button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: rgb(54, 60, 152);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

form button:hover {
    background-color: rgb(42, 47, 115);
    transform: translateY(-3px);
}

form button:active {
    transform: translateY(1px);
}

form button:focus {
    outline: none;
}
